
.paper-header {
    position: absolute;
    width: 100%;
    height: 64px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px;
    opacity: 1;
    transition: 0.2s opacity;
}

.paper-header.fade{
    opacity: 0;
}

.paper-header .left-action {
    position: relative;
    color: white;
    width: 100%;
    height: 100%;
}

.paper-header .left-action .icon .bar {
    background-color: white;
}

.paper-header .left-action .icon {
    position: relative;
    display: inline-block;
    float: left;
    z-index: 1;

    width: 48px;
    height: 48px;
    margin: 8px 0 8px 8px;
    padding: 10px;

    font-size: 28px;
    line-height: 28px;
    transform: rotate(0deg);
    border-radius: 100%;
    cursor: pointer;
    opacity: 1;
    transition: 0.5s transform, 0.2s opacity;
}

.paper-header .left-action .icon.fade{
    opacity: 0;
}

.paper-header .left-action .icon .bar {
    position: absolute;

    width: 20px;
    height: 2px;
    left: 14px;

    border-radius: 1px;
    opacity: 0;
    transform: rotate(0deg);
    transition: 0.5s all;
}

.paper-header .left-action .icon i{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    opacity: 1;
    transition: 0.5s opacity;
}

.paper-header .left-action .icon.action-menu i,
.paper-header .left-action .icon.action-back i{
    opacity: 0;
}

.paper-header .left-action .icon.action-menu .bar,
.paper-header .left-action .icon.action-back .bar {
    opacity: 1;
}

.paper-header .left-action .icon .bar:nth-child(1) {
    top: 17px;
}

.paper-header .left-action .icon .bar:nth-child(2) {
    top: 23px;
}

.paper-header .left-action .icon .bar:nth-child(3) {
    top: 29px;
}

.paper-header .left-action .icon.action-back {
    transform: rotate(180deg);
}

.paper-header .left-action .icon.action-back .bar:nth-child(1) {
    width: 13px;
    left: 23px;
    top: 19px;
    transform: rotate(45deg);
}

.paper-header .left-action .icon.action-back .bar:nth-child(2) {
    top: 23px;
}

.paper-header .left-action .icon.action-back .bar:nth-child(3) {
    width: 13px;
    left: 23px;
    top: 27px;
    transform: rotate(-45deg);
}

.paper-header .left-action .title {
    position: absolute;
    left: 56px;
    right: 128px;
    top: 0;
    bottom: 0;
    margin: 8px 0 8px 8px;
    padding: 10px 10px 10px 0;
    font-size: 23px;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    opacity: 1;
    transition: 0.2s opacity;
}

.paper-header .left-action .title.fade{
    opacity: 0;
}

.paper-header .action-bar {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left: 0;
    text-align: right;
}

.paper-header .action-bar .action{
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 8px 8px 8px 0px;
    padding: 10px;
    transform: scale(1);
    border-radius: 100%;
    cursor: pointer;
    font-size: 28px;
    line-height: 28px;
    outline: none;
    text-align: left;
    transition: 0.2s transform;
}

.paper-header.fade .action-bar > .action{
    transform: scale(0);
}

.paper-header .action-bar .action-overlay{
    position: absolute;
    z-index: 10;
    right: 8px;
    top: 56px;
    width: 250px;
    max-height: 80vh;
    overflow: auto;

    color: black;
    background-color: white;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.227451) 0px 6px 10px 0px, rgba(0, 0, 0, 0.188235) 0px 10px 30px 0px;

    transform: scale(1);
    transform-origin: 100% 0%;
    opacity: 1;

    transition: 0.2s all;
}

.paper-header .action-bar .action-overlay.fade,
.paper-header .action-bar .action-overlay.hide{
    transform: scale(0.25);
    opacity: 0;

    transition: 0.2s all;
}

.paper-header .action-bar .action-overlay.hide{
    display: none;
}

.paper-header .action-bar .action-overlay .action{
    display: block;
    border-radius: 0;
    width: 100%;
    margin: 0;
    padding-left: 20px;
    padding-right: 10px;

    font-size: 18px;
    outline: none;
}

.paper-header .action-bar .action-overlay .action i{
    float: right;
    font-size: 24px;
    padding: 2px;
}