
.paper-list{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.paper-list li{
    position: relative;
    top: 0;
    height: 50px;
    width: 100%;
    padding: 15px;

    opacity: 1;
    transition: 0.2s all;
}

.paper-list li.header{
    height: 48px;
    font-weight: bold;
    font-size: 14px;
    /*opacity: 0.4;*/
    color: rgba(33,33,33,0.5);
}

.paper-list li.sep-bottom::before{
    content: " ";
    position: absolute;
    bottom: 0px;
    height: 1px;
    left: 10px;
    right: 10px;
    background-color: rgba(150,150,150, 0.2);
}

.paper-list li.sep-top::before{
    content: " ";
    position: absolute;
    top: 0px;
    height: 1px;
    left: 10px;
    right: 10px;
    background-color: rgba(150,150,150, 0.2);
}

.paper-list li.medium{
    height: 64px;
}

.paper-list li.wrippels{
    cursor: pointer;
}

.paper-list li.fade{
    opacity: 0;
    top: -10px;
}

.paper-list li.selected{
    background-color: rgba(0,0,0,0.1);
}

.paper-list li .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 8px;

    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    transition: 0.5s opacity;
}

.paper-list li .icon.fade{
    opacity: 0;
}

.paper-list li .icon i{
    width: 100%;
    height: 100%;
    font-size: 28px;
    line-height: 28px;
}

.paper-list li .title{
    height: 26px;
    line-height: 20px;
    padding: 7px 0px 7px 0px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.paper-list li .title.main{
    padding-top: 0;
    font-size: 18px;
}

.paper-list li .title.sub{
    padding-top: 0;
    font-size: 14px;
    color: rgb(108, 108, 108);
}

.paper-list li.push-left{
    padding-left: 64px;
}