.paper-button {
    position: relative;
    display: inline-block;
    height: 38px;
    padding: 8px 30px;
    margin: 5px;
    line-height: 22px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    outline: none !important;
    overflow: hidden;
    border: none;
    border-radius: 2px;
    background: none;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.4,0,.2,1);
}

.paper-button span {
    transition: opacity 0.2s cubic-bezier(.4,0,.2,1);
}

.paper-button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28);
    text-decoration: none;
}

.paper-button:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.paper-button i{
    position: relative;
    top: 6px;
    font-size: 28px;
    line-height: 10px;
}