/* 
    Author: Steven Hermans
    Usage (snackbar): 
        <div class="paper-snackbar align bottom ani-short fadein"><span>[text]</span></div>
    Usage (snackbar interactive): 
        <div class="paper-snackbar align bottom ani-short fadein"><span>[text]</span><button class="fg-[color]">[button-text]</button></div>
    Usage (toast): 
        <div class="paper-toast align bottom ani-short fadein"><span>[text]</span></div>
*/

.paper-snackbar, .paper-toast{
    position: fixed;
    padding: 16px 30px;
    bottom: 20px;
    margin: 20px;
    margin-bottom: -0px;
    
    background-color: #323232;
    background-color: rgba(0,0,0,0.7);
    border-radius: 3px;
    color: #F5F5F5;
    opacity: 1;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2), 0px 3px 6px rgba(0, 0, 0, 0.28);
    transition: 0.5s opacity;
}

.paper-snackbar.fade, .paper-toast.fade{
    opacity: 0;
    transition: 0.2s opacity;
}

.paper-toast{
    border-radius: 25px;
    height: 50px;
}

.paper-snackbar span{
    float: left;
    padding-right: 50px;
}

.paper-snackbar button{
    float: right;
    padding-top: 3px;
    background: none;
    border: none;
    outline: none;
    
    cursor: pointer;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .paper-snackbar, .paper-toast{
        bottom: 0px;
        left: 0px;
        margin: 0;
        border-radius: 0;
    }
    
    .paper-toast{
        border-radius: 25px;
        left: 10px;
        bottom: 10px;
    }
    
    .paper-snackbar span{
        display: inline-block;
        width: 80%;
        padding-right: 0;
    }
    
    .paper-snackbar button{
        position: absolute;
        right: 24px;
        bottom: 16px
    }
}