.paper-modal{
    position: fixed;
    z-index: 100;

    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    opacity: 0;
    background-color: rgba(0,0,0,0.2);

    transition: 0.3s all cubic-bezier(.4,0,.2,1);
}

.paper-modal-overlay{
    position: absolute;
    z-index: 1;

    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.paper-modal.paper-show{
    opacity: 1;
}

.paper-modal-dialog{
    position: absolute;
    z-index: 2;
    width: 450px;
    max-height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -225px;
    transform: scale(0.7);

    transition: 0.2s all cubic-bezier(.4,0,.2,1);
}

.paper-modal.paper-show .paper-modal-dialog{
    transform: scale(1);
}

.paper-modal-content{
    height: 100%;
    margin-top: 0;

    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-color: rgb(150,150,150);
    border-radius: 2px;
}

.paper-modal-header{
    padding: 24px;
    padding-bottom: 0;

    min-height: 16.43px;
}

.paper-modal-header h4{
    margin: 0;
    line-height: 1.42857143;
    font-size: 24px;
}

.paper-modal-body{
    padding: 24px;
    padding-bottom: 0;
    color: #757575;
}

.paper-modal-footer{
    padding: 15px;

    text-align: right;
}

@media (max-width: 480px){
    .paper-modal-dialog{
        width: 300px;
        margin-left: -150px;
    }

    .paper-modal-dialog .paper-button{
        padding-left: 20px;
        padding-right: 20px;
    }
}