/* 
    Author     : Steven Hermans
    Usage (wrippels):
        <div class="wrippels"></div>
    Usage (touchonly wrippels):
        <div class="mobile wrippels"></div>
*/

.wrippels{
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.wrippels::after{
    content: " ";
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
}

.wrippels > .overlay, .wrippels > .overlay-dark{
    position: absolute;
    z-index: 1;

    background-color: rgba(255,255,255,0.1);
    border-radius: 100%;

    transform-origin: center;
    transform: scale(0,0);
}

.wrippels > .overlay.dark{
    background-color: rgba(0,0,0,0.1);
}

.wrippels > .overlay.wrippel-ani{
    transition: 0.5s transform cubic-bezier(.4,0,.2,1), 0.5s opacity cubic-bezier(.4,0,.2,1), 0.3s all cubic-bezier(.4,0,.2,1);
}

.wrippels > .overlay.wrippel-expand{
    transform: scale(1,1);
}

.wrippels > .overlay.wrippel-hide{
    opacity: 0;
}