
.activity-hide {
    display: none;
}

.material-app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: white;
    opacity: 1;
    transition: 1s opacity;
}

.material-app.fade {
    opacity: 0;
    transition: 0.3s opacity;
}

.material-app .app-header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px;
    transition: 0.3s all;
}

.material-app .paper-group .paper-header {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}

.material-app > .paper-header {
    display: inline-block;
    z-index: 3;
    width: 230px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.material-app > .paper-header .title{
    right: 0;
}

.material-app .app-content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.2s all;
}

@media (max-width: 1080px) {
    .material-app .app-content,
    .material-app .app-content[slots="1"],
    .material-app .app-content[slots="2"] {
        right: -50%;
    }

    .material-app .app-content[slots="3"] {
        right: 0;
        left: -50%;
    }
}

@media (max-width: 720px) {
    .material-app .app-content,
    .material-app .app-content[slots="1"] {
        right: -200%;
    }

    .material-app .app-content[slots="2"] {
        right: -100%;
        left: -100%;
    }

    .material-app .app-content[slots="3"] {
        right: 0;
        left: -200%;
    }
}

.material-app .paper-group {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 1;
    transition: 0.5s opacity;
}

.material-app .paper-group.fade {
    opacity: 0;
    transition: 0.2s opacity;
}

.material-app .paper-activity {
    position: absolute;
    top: 0;
    bottom: 0;

    transition: 0.2s all;
}

.material-app .paper-activity[pos='xoo'] {
    left: 0;
    right: 66.67%;
}

.material-app .paper-activity[pos='oxo'] {
    left: 33.33%;
    right: 33.33%;
}

.material-app .paper-activity[pos='oox'] {
    left: 66.67%;
    right: 0;
}

.material-app .paper-activity[pos='xxo'] {
    left: 0;
    right: 33.33%;
}

.material-app .paper-activity[pos='oxx'] {
    left: 33.33%;
    right: 0;
}

.material-app .paper-activity[pos='xxx'] {
    left: 0;
    right: 0;
}

.material-app .paper-overlay{
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    opacity: 1;
    transition: 0.2s all;
}

.material-app .paper-overlay.fade{
    opacity: 0;
}

.material-app .paper-overlay .paper-activity{
    right: 33.33%;
    left: 33.33%;
    top: 5%;
    bottom: 5%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.227451) 0px 6px 10px 0px, rgba(0, 0, 0, 0.188235) 0px 10px 30px 0px;
    border-radius: 3px;
}

.material-app .paper-overlay.paper-drawer .paper-activity{
    left: 0;
    right: auto;
    width: 300px;
    bottom: 0;
    top: 0;
    border-radius: 0;
}

.material-app .paper-overlay.paper-drawer .paper-activity .paper-header{
    display: none;
}

.material-app .paper-overlay.paper-drawer .paper-activity .activity-frame{
    top: 0;
}

.material-app .paper-overlay.fade .paper-activity{
    top: 8%;
    bottom: 2%;
}

.material-app .paper-overlay.paper-drawer.fade .paper-activity{
    top: 0;
    bottom: 0;
    left: -300px;
}

@media(max-width: 1080px){
    .material-app .paper-overlay .paper-activity{
        right: 25%;
        left: 25%;
    }

    .material-app .paper-overlay.paper-drawer .paper-activity{
        left: 0;
        right: auto;
    }
}

@media(max-width: 720px){

    .material-app .paper-overlay:not(.paper-drawer){
        background-color: transparent;
    }

    .material-app .paper-overlay.fade:not(.paper-drawer){
        opacity: 1;
    }

    .material-app .paper-overlay .paper-activity{
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        border-radius: 0;
    }

    .material-app .paper-overlay.paper-drawer .paper-activity{
        width: 300px;
        left: 0px;
        right: auto;
    }

    .material-app .paper-overlay.fade .paper-activity{
        top: 0;
        bottom: 0;
        left: 100%;
        right: -100%;
    }

    .material-app .paper-overlay.paper-drawer.fade .paper-activity{
        left: -300px;
        right: auto;
    }
}

.material-app .paper-activity .activity-frame {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;

    border-right: rgb(233, 233, 233) solid 1px;
    opacity: 1;
    overflow: auto;
    transform: scale(1);
    transition: 0.5s all;
}

@media (max-width: 720px) {
    .material-app .paper-activity .activity-frame {
        border: none;
    }
}

.material-app .paper-activity .activity-frame.fade {
    /*left: -50px;*/
    /*right: 50px;*/
    /*transform: scale(0.9);*/
    opacity: 0;

    transition: 0.2s all;
}

.material-app .paper-activity .activity-body {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 1;
    transition: 0.5s opacity;
}

.material-app .paper-activity .activity-body.fade {
    opacity: 0;
    transition: 0.2s opacity;
}

.material-app .activity-empty{
    text-align: center;
}

.material-app .paper-drawer .drawer-head{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: 0.2s opacity;
}

.material-app .paper-drawer .drawer-head.fade{
    opacity: 0;
}

.material-app .paper-drawer .drawer-container{
    padding-top: 150px;
}