/* 
    Author     : Steven Hermans
*/

* {
    box-sizing: border-box;
}

.paper, .paper-round {
    padding: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2), 0px 3px 6px rgba(0, 0, 0, 0.28);
}

.paper-round {
    border-radius: 2px;
}

.paper-link{
    color: #4D90FE;
    text-decoration: none;
}

.paper-link:hover{
    text-decoration: underline;
}

/** BUTTON **/

.paper-button {
    position: relative;
    display: inline-block;
    padding: 8px 30px;
    margin: 5px;
    line-height: 22px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    outline: none !important;
    border: none;
    border-radius: 2px;
    background: none;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.4,0,.2,1);
}

.paper-button span {
    transition: opacity 0.2s cubic-bezier(.4,0,.2,1);
}

.paper-button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28);
    text-decoration: none;
}

.paper-button:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/** FLOAT BUTTON **/

.paper-button-float, .paper-header.large .paper-header-action-bar button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 15px;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 22px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.62);
    outline: none !important;
    border: none;
    border-radius: 100%;
    background: #eeeeee;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.227451) 0px 6px 10px 0px, rgba(0, 0, 0, 0.188235) 0px 10px 30px 0px;
}

.paper-button-float {
    transition: all .28s cubic-bezier(.4,0,.2,1);
}

.paper-button-float:hover, .paper-header.large .paper-header-action-bar button:hover {
    background-color: white;
    box-shadow: 0 10px 18px rgba(0,0,0,.22),0 14px 45px rgba(0,0,0,.25);
}

.paper-button-float:active, .paper-header.large .paper-header-action-bar button:active {
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
}

/** POPUP **/

.paper-popup-action {
    position: relative;
}

.paper-popup-overview {
    position: fixed;
    z-index: 50;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.paper-popup {
    display: inline-block;
    position: absolute;
    z-index: 50;
    left: 0px;
    min-width: 250px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2), 0px 3px 6px rgba(0, 0, 0, 0.28);
    overflow: hidden;
    transition: opacity 0.1s cubic-bezier(.4,0,.2,1), height 0.2s cubic-bezier(.4,0,.2,1);
}

.paper-popup.tmp {
    display: inline-block;
    opacity: 0;
    height: 0 !important;
}

.paper-popup.hidden {
    display: none;
    opacity: 0;
    height: 0 !important;
}

.paper-popup.right {
    left: initial;
    right: 0px;
}

.paper-popup.page {
    padding: 20px;
}

.paper-popup ul {
    position: relative;
    top: 0px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    transition: top 0.2s cubic-bezier(.4,0,.2,1);
}

.paper-popup.tmp ul, .paper-popup.hidden ul {
    top: -100px;
}

.paper-popup li {
    position: relative;
    height: 50px;
    padding: 10px;
    padding-top: 12px;
    padding-left: 15px;
    font-size: 18px;
    color: rgb(150,150,150);
}

.paper-popup li.active {
    color: rgb(30,30,30);
    cursor: pointer;
}

.paper-popup li.active:hover {
    background-color: rgba(0,0,0,0.1);
}

.paper-popup li.separator {
    height: 1px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ECECEC;
}

.paper-popup li i {
    display: inline-block;
    position: relative;
    width: 30px;
    top: -2px;
    margin-right: 5px;
    font-size: 30px;
    vertical-align: middle;
}

.paper-popup li a {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    padding-top: 12px;
    padding-left: 15px;
    color: inherit;
    text-decoration: none;
}

/** LIST DEFAULT **/

.paper-list ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/** LIST HEADERS **/

.paper-list .paper-list-header{
    position: relative;
    height: 60px;
    width: 100%;

    color: rgb(120,120,120);
    cursor: pointer;

    transition: 0.2s all cubic-bezier(.4,0,.2,1), 0.2s background-color cubic-bezier(.4,0,.2,1), 0.7s opacity cubic-bezier(.4,0,.2,1);
}

.paper-list .paper-list-item.toggle > .paper-list-header{
    color: rgb(51,51,51);
}

.paper-list .paper-list-header:hover{
    background-color: rgba(204,204,204,0.5);
}

/** LIST HEADERS OPTIONS **/

.paper-list .paper-list-header.icon .paper-list-icon{
    display: inline-block;
    position: absolute;

    width: 40px;
    left: 10px;
    top: 10px;
    bottom: 10px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 100%;

    transition: 0.2s all cubic-bezier(.4,0,.2,1);
}

.paper-list .paper-list-header.icon .paper-list-icon i{
    position: absolute;
    display: inline-block;

    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;

    text-align: center;
    font-size: 30px;
    overflow: hidden;
    transition: 0.2s all cubic-bezier(.4,0,.2,1);
}

.paper-list .paper-list-header .paper-list-title{
    display: inline-block;
    position: absolute;

    top: 20px;
    left: 10px;
    right: 10px;

    font-size: 20px;
    font-weight: 400;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: 0.2s left cubic-bezier(.4,0,.2,1), 0.2s top cubic-bezier(.4,0,.2,1);
}

.paper-list .paper-list-header.subtitle .paper-list-subtitle{
    display: inline-block;
    position: absolute;

    top: 35px;
    bottom: 10px;
    left: 10px;
    right: 10px;

    color: rgb(150,150,150);

    font-size: 12px;
    font-weight: 400;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: 0.2s all cubic-bezier(.4,0,.2,1);
}

.paper-list .paper-list-header.subtitle .paper-list-title{
    top: 10px;
}

.paper-list .paper-list-header.icon .paper-list-title,
.paper-list .paper-list-header.icon .paper-list-subtitle{
    left: 60px;
}

/** LIST SMALL HEADERS **/

.paper-list .paper-list-header.small{
    height: 40px;
}

.paper-list .paper-list-header.small.icon .paper-list-icon{
    width: 30px;
    left: 5px;
    top: 5px;
    bottom: 5px;
}

.paper-list .paper-list-header.small.icon .paper-list-icon i{
    font-size: 20px;
}

.paper-list .paper-list-header.small .paper-list-title{
    top: 10px;
    bottom: 0px;
    left: 10px;
    right: 10px;
}

.paper-list .paper-list-header.small.subtitle .paper-list-subtitle{
    opacity: 0;
}

.paper-list .paper-list-header.icon.small .paper-list-title,
.paper-list .paper-list-header.icon.small .paper-list-title{
    left: 40px;
}

/** LIST HEADERS CONTROL **/

.paper-list .paper-list-header.control .paper-list-control{
    position: absolute;
    display: inline-block;

    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;

    color: rgb(120,120,120);
    transition: 0.2s all cubic-bezier(.4,0,.2,1);
}

.paper-list .paper-list-header.control .paper-list-control > i{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 15px;

    font-size: 30px;
    text-align: center;
    overflow: hidden;
}

.paper-list .paper-list-header.control.active .paper-list-control{
    color: rgb(204,204,204);
}

.paper-list .paper-list-header.control .paper-list-control:hover{
    color: #FF9800;
}

.paper-list .paper-list-header.small.control .paper-list-control > i{
    padding-top: 5px;
}

.paper-list .paper-list-header.control .paper-list-title,
.paper-list .paper-list-header.control .paper-list-subtitle{
    left: 60px;
}

/** LIST HEADERS ACTIVE **/

.paper-list .paper-list-item.expandable > ul, .paper-list .paper-list-item.expandable{
    opacity: 1;

    transition: 0.7s opacity cubic-bezier(.4,0,.2,1);
}

.paper-list .paper-list-item.expandable > ul.hidden, .paper-list .paper-list-item.hidden{
    opacity: 0;
}

.paper-list .paper-list-item.expandable > ul.hidden .paper-list-header, .paper-list .paper-list-item.hidden .paper-list-header{
    height: 0;
}

.paper-list .paper-list-item.toggle > .paper-list-header.active{
    color: rgb(222,222,222);
    background-color: #607D8B;
}

.paper-list .paper-list-item.toggle > .paper-list-header.active .paper-list-subtitle{
    color: rgb(180,180,180);
}

/** LIST LIST-WRAPPERS **/

.paper-list .paper-list-wrap1,
.paper-list .paper-list-wrap2,
.paper-list .paper-list-wrap3,
.paper-list .paper-list-wrap4{
    position: absolute;
    right:0;
    top:0;
    bottom:0;
}

.paper-list .paper-list-wrap1{
    left:10px;
}

.paper-list .paper-list-wrap2{
    left:20px;
}

.paper-list .paper-list-wrap3{
    left:30px;
}

.paper-list .paper-list-wrap4{
    left:40px;
}

/** DIALOG **/

.paper-modal{
    position: fixed;
    z-index: 100;

    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    opacity: 0;
    background-color: rgba(0,0,0,0.2);

    transition: 0.3s all cubic-bezier(.4,0,.2,1);
}

.paper-modal-dialog{
    position: absolute;
    width: 450px;
    max-height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -225px;
}

.paper-modal-content{
    height: 100%;
    margin-top: 0;

    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-color: rgb(150,150,150);
    border-radius: 2px;
}

.paper-modal-header{
    padding: 24px;
    padding-bottom: 0;

    min-height: 16.43px;
}

.paper-modal-header h4{
    margin: 0;
    line-height: 1.42857143;
    font-size: 24px;
}

.paper-modal-body{
    padding: 24px;
    padding-bottom: 0;
    color: #757575;
}

.paper-modal-footer{
    padding: 24px;

    text-align: right;
}

.paper-modal .btn{
    padding: 5px 10px;
    margin-left: 10px;
    background: none;
    border: none;
    outline: none;
    font-family: Roboto, Arial,sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s all cubic-bezier(.4,0,.2,1);
}

.paper-modal .paper-modal-footer .btn{
    color: #4185F4;
}

.paper-modal .paper-modal-footer .btn:hover{
    color: #69A2FF;
}

.paper-modal .paper-modal-footer.orange .btn{
    color: #FF9800;
}

.paper-modal .paper-modal-footer.orange .btn:hover{
    color: #FFC107;
}

.paper-modal .paper-modal-footer.red .btn{
    color: #F44336;
}

.paper-modal .paper-modal-footer.red .btn:hover{
    color: #F44336;
}

@media (max-width: 480px){
    .paper-modal-dialog{
        width: 300px;
        margin-left: -150px;
    }
}

/** FORM **/

.paper-input, .field {
    position: relative;
}

.paper-input input, .input textarea {
    display: block;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background: none;
    outline: none;
    color: #4D4D4D;
    box-shadow: none;
}

.paper-input textarea {
    resize: none;
}

.paper-input.label input, .paper-input.label textarea {
    padding-top: 8px;
}

.paper-input.label label {
    display: block;
    position: relative;
    top: 25px;
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9em;
    color: rgb(150, 150, 150);
    cursor: text;
    transition: 0.2s all cubic-bezier(.4,0,.2,1);
}

.paper-input.label label.selected {
    top: 0px;
}

.paper-input .stat {
    display: inline-block;
    position: absolute;
    height: 1px;
    bottom: 8px;
    left: 10px;
    right: 10px;
    background-color: rgb(150, 150, 150);
}

.paper-input .stat_active {
    content: " ";
    display: inline-block;
    position: absolute;
    height: 1px;
    width: 0px;
    left: 10px;
    right: 10px;
    bottom: 8px;
    background-color: #2196F3;
    transition: 0.2s width cubic-bezier(.4,0,.2,1);
}

.paper-input.form-controls {
    margin-top: 20px;
}

.paper-input.form-controls .error {
    display: inline-block;
    height: 19px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #F44336;
    opacity: 0;
    vertical-align: bottom;
    transition: 0.2s opacity cubic-bezier(.4,0,.2,1);
}

/** CONTENT **/

.paper-content{
    margin-top: 70px;
    width: 100%;
}

.paper-content.large{
    margin-top: 154px;
}

.paper-content.contain{
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    padding: 20px;

    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2), 0px 3px 6px rgba(0, 0, 0, 0.28);
}

.paper-content.fixed{
    position: fixed;
    top: 60px;
    bottom: 0;
    margin-top: 0px;

    overflow: auto;
}

.paper-content.fixed.large{
    top: 144px;
}

@media(max-width: 900px){
    .paper-content.contain{
        position: relative;
        width: 100%;
        top: -10px;
        left: 0;
        right: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        box-shadow: none;
        border-radius: 0px;
    }
}

@media(max-width: 600px){
    .paper-content{
        padding: 0;
    }
}

/** HEADER **/

.paper-header {
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.paper-header.auto{

}

.paper-header .paper-header-content {
    display: inline-block;
    height: 60px;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 0.9em;
    color: #333333;
}

.paper-header .paper-header-content a {
    display: inline-block;
    height: 100%;
    padding: 10px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s color cubic-bezier(.4,0,.2,1);
}

.paper-header .paper-header-content a:hover{
    color: black;
}

.paper-header .paper-header-content .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-image: url(../res/icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.paper-header .paper-header-content .icon.round {
    border-radius: 100%;
}

.paper-header .paper-header-content h1 {
    display: inline-block;
    margin: 0;
    padding-top: 5px;
    color: inherit;
    font-weight: 300;
    vertical-align: top;
}

.paper-header .paper-header-menu-button{
    display: none;
    position: absolute;

    top: 12px;
    left: 5px;

    background: none repeat scroll 0% 0% transparent;
    border: none;
    outline: none;
    color: #969696;

    font-size: 30px;
    cursor: pointer;
    transition: 0.2s color cubic-bezier(.4,0,.2,1);
}
.paper-header .paper-header-menu-button:hover{
    color: #cccccc;
}

.paper-header .paper-header-menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 18px;
    margin-left: 10px;
}

.paper-header .paper-header-menu-right-toggle{
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5px;
    right: 10px;
    padding: 5px;

    color: inherit;
    background: transparent;
    border: none;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
    font-size: 26px;
    transition: 0.3s all cubic-bezier(.4,0,.2,1), 0s background-color;
}

.paper-header .paper-header-menu-right-toggle.active{
    cursor: default;
    background-color: rgba(255,255,255,0.1);
}

.paper-header .paper-header-menu-right-toggle.active::before{
    content: " ";
    display: inline-block;
    position: fixed;
    z-index: 10;

    top:0;
    left:0;
    bottom:0;
    right:0;
}

.paper-header .paper-header-menu-right-toggle:hover{
    background-color: rgba(0,0,0,0.1);
}

.paper-header .paper-header-menu-right {
    display: inline-block;
    position: absolute;
    z-index: 11;

    top: 62px;
    right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: white;
    color: rgb(30,30,30);
    border-radius: 2px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2), 0px 3px 6px rgba(0, 0, 0, 0.28);
    opacity: 0;

    font-size: 16px;
    font-weight: 400;

    transform-origin: 100% 0%;
    transform: scale(0.8,0.8);

    transition: all 0.2s cubic-bezier(.4,0,.2,1);
}

.paper-header .paper-header-menu-right::before{
    content: " ";
    display: inline-block;
    position: absolute;

    bottom: 100%;
    right: 20px;

    border: 5px solid;
    border-color: transparent transparent white transparent;
}

.paper-header .paper-header-menu-right.tmp{
    display: block;
    transform: scale(0.8,0.8);
    opacity: 0;
}

.paper-header .paper-header-menu-right.active{
    display: block;
    transform: scale(1,1);
    opacity: 1;
}

.paper-header .paper-header-menu-right a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(51,51,51);
}

.paper-header .paper-header-menu-right a:hover{
    color: black;
    background-color: rgba(0,0,0,0.1);
}

.paper-header .paper-header-action-bar {
    display: inline-block;
    float: right;
    height: 50px;
    margin-top: 5px;
    margin-right: 10px;
}

.paper-header.left-menu .paper-header-action-bar{
    margin-right: 70px;
}

.paper-header .paper-header-action-bar button {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 5px;
    color: inherit;
    background: transparent;
    border: none;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
    font-size: 26px;
    transition: 0.2s all cubic-bezier(.4,0,.2,1), 0s background-color;
}

.paper-header .paper-header-action-bar button i {
    display: inline-block;
    margin-top: 5px;
}

.paper-header .paper-header-action-bar button:hover {
    background-color: rgba(0,0,0,0.1);
}

/** HEADER LARGE **/

.paper-header.large {
    height: 144px;
}

.paper-header.large .paper-header-content {
    height: 90px;
    margin-top: 54px;
    font-size: 1.1em;
}

.paper-header.large .paper-header-content .icon {
    width: 70px;
    height: 70px;
}

.paper-header.large .paper-header-content h1 {
    padding-top: 23px;
}

.paper-header.large .paper-header-menu {
    margin-top: 39px;
}

.paper-header.large .paper-header-action-bar {
    position: absolute;
    float: none;
    height: 60px;
    right: 0px;
    bottom: -30px;
}

.paper-header.large .paper-header-action-bar button i {
    display: inline;
    margin-top: 0;
}

.paper-header.large .paper-header-menu-right-toggle{
    display: none;
}

.paper-header.large .paper-header-menu-right{
    display: inline-block;
    position: absolute;
    top: 5px;

    background-color: transparent;
    opacity: 1;
    box-shadow: none;
    border-radius: 0;
    transform: scale(1,1);
}

.paper-header.large .paper-header-menu-right::before{
    content: none;
}

.paper-header.large .paper-header-menu-right a{
    display: inline-block;
}

.paper-header.large .paper-header-menu-right a:hover{
    background-color: transparent;
}

.paper-header.large .paper-header-action-bar{
    margin-right: 10px;
}

/** HEADER LABEL **/

.paper-header button .paper-label {
    position: absolute;
    width: 90px;
    top: 70px;
    left: 50%;
    margin-left: -60px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(70,70,70);
    color: #cccccc;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    font-size: 12px;
    text-transform: none;
    transition: 0.2s all cubic-bezier(.4,0,.2,1);
}

.paper-header.large button .paper-label{
    left: 50%;
    margin-left: -45px;
}

.paper-header button .paper-label {
    top: 80px;
    opacity: 0;
}

.paper-header button:hover .paper-label {
    top: 60px;
    opacity: 1;
}

.paper-header.large button:hover .paper-label {
    top: 70px;
    opacity: 1;
}

.paper-header button .paper-label::before {
    display: inline-block;
    position: absolute;
    content: " ";
    bottom: 100%;
    left: 50%;
    margin-left: 10px;
    border: 5px solid;
    border-color: transparent transparent rgb(70,70,70) transparent;
}

.paper-header.large button .paper-label::before{
    margin-left:-5px;
}

/** HEADER RESIZE **/

@media (max-width: 640px) {
    .paper-header .paper-header-content, .paper-header.large .paper-header-content {
        font-size: 0.8em;
    }

    .paper-header.large .paper-header-action-bar{
        position: fixed;
        height: auto;
        bottom: 10px;
        right: 10px;
        margin: 0;
    }

    .paper-header.large .paper-header-action-bar button{
        display: block;
        margin: 0;
        margin-top: 10px;
        transition: 0.2s top cubic-bezier(.4,0,.2,1);
    }

    .paper-header.large .icon{
        transition: 0.3s all cubic-bezier(.4,0,.2,1), 0.2s opacity cubic-bezier(.4,0,.2,1);
    }

    .paper-header.large .paper-header-action-bar button .paper-label{
        display: none;
    }

    .paper-header .paper-header-menu-button{
        display: inline-block;
    }

    .paper-header .paper-header-content{
        margin-left: 50px;
    }

    .paper-header.large .paper-header-content{
        margin-left: 10px;
    }

    .paper-header .paper-header-menu, .paper-header.large .paper-header-menu{
        position: fixed;
        display: inline-block;
        z-index: 20;

        width: 80%;
        max-width: 300px;
        left: -100%;
        top: 0px;
        bottom: 0;
        margin: 0;
        padding: 0px;

        overflow: auto;
        background-color: white;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2), 0px 3px 6px rgba(0, 0, 0, 0.28);
        transition: 0.5s left cubic-bezier(.4,0,.2,1);
    }

    .paper-header .paper-header-menu:before, .paper-header.large .paper-header-menu:before{
        content: " ";
        display: inline-block;

        width: 100%;
        height: 25%;

        background-image: url("../res/wallpaper.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .paper-header .paper-header-menu.active, .paper-header.large .paper-header-menu.active{
        left: 0;
    }

    .paper-header .paper-header-menu-back, .paper-header.large .paper-header-menu-back{
        position: fixed;
        z-index: 19;
        left:0;
        top:0;
        right:0;
        bottom:0;
        background-color: rgba(0,0,0,0);
        transition: 0.2s all cubic-bezier(.4,0,.2,1);
    }

    .paper-header .paper-header-menu-back.active, .paper-header.large .paper-header-menu-back.active{
        background-color: rgba(0,0,0,0.5);
    }

    .paper-header .paper-header-menu-right-toggle{
        display: none;
    }

    .paper-header .paper-header-menu-right{
        display: inline-block;
        position: absolute;
        top: 5px;

        background-color: transparent;
        opacity: 1;
        box-shadow: none;
        border-radius: 0;
        transform: scale(1,1);
    }

    .paper-header .paper-header-menu-right::before{
        content: none;
    }

    .paper-header .paper-header-menu-right a{
        display: inline-block;
    }

    .paper-header .paper-header-menu-right a:hover{
        background-color: transparent;
    }

    .paper-header .paper-header-menu-right, .paper-header.large .paper-header-menu-right{
        position: static;
        display: block;

        height: auto;
        padding-bottom: 10px;
        margin-bottom: 10px;

        border-bottom: 1px solid rgb(204,204,204);
    }

    .paper-header .paper-header-menu a, .paper-header.large .paper-header-menu a{
        display: block;
        width: 100%;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;

        color: rgb(51,51,51);
        font-size: 14px;
        font-weight: 400;
    }

    .paper-header .paper-header-menu a:hover, .paper-header.large .paper-header-menu a:hover{
        display: block;
        height: auto;

        color: black !important;
        //background-color: rgba(0,0,0,0.1);
    }

    .paper-header.left-menu .paper-header-action-bar{
        margin-right: 10px;
    }
}

/** LOADING **/

.paper-button-float .paper-loading, .paper-header.large .paper-header-action-bar button .paper-loading {
    top: -2px;
    left: -2px;
}

.paper-loading {
    position: absolute;
    width: 65px;
    height: 65px;
    opacity: 1;
    animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
    transition: opacity .2s cubic-bezier(.4,0,.2,1);
}

.paper-loading.center {
    left: 50%;
    height: 50%;
    margin-left: -32px;
    margin-top: -32px;
}

.paper-loading.small {
    width: 26px;
    height: 26px;
}

.paper-loading.small.center {
    left: 50%;
    top: 50%;
    margin-left: -13px;
    margin-top: -13px;
}

.paper-loading .path {
    stroke-dasharray: 1,150; /* 1%, 101% circumference */
    stroke-dashoffset: 0;
    stroke: rgb(33, 150, 243);
    stroke-linecap: round;
    animation: dash 1.5s cubic-bezier(.4,0,.2,1) infinite;
    -webkit-animation: dash 1.5s cubic-bezier(.4,0,.2,1) infinite;
}

.paper-loading.white .path {
    stroke: white;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,150; /* 1%, 101% circumference */
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90,150; /* 70%, 101% circumference */
        stroke-dashoffset: -35; /* 25% circumference */
    }

    100% {
        stroke-dasharray: 90,150; /* 70%, 101% circumference */
        stroke-dashoffset: -124; /* -99% circumference */
    }
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1,150; /* 1%, 101% circumference */
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90,150; /* 70%, 101% circumference */
        stroke-dashoffset: -35; /* 25% circumference */
    }

    100% {
        stroke-dasharray: 90,150; /* 70%, 101% circumference */
        stroke-dashoffset: -124; /* -99% circumference */
    }
}