.material-app{
    background-color: #F0F0F0;
}

#e-index .index-title{
    position: relative;
    left: 0;

    text-align: center;
    opacity: 1;
    transition-duration: 0.2s;
    transition-property: opacity;
}

#e-index .index-title.fade{
    opacity: 0;
}

#e-index .index-title h1{
    display: inline-block;
    position: relative;
    left: 0;
    margin-bottom: 10px;
    font-size: 54px;
    color: #333;
    transition-duration: 0.5s;
    transition-property: left;
}

#e-index .index-title.fade h1{
    left: 50px;
}

#e-index .index-title h2{
    margin-top: 0;
    color: rgb(51,51,51);
    opacity: 1;
    transition-duration: 0.5s;
    transition-property: opacity;
}

#e-index .index-title h2.fade{
    opacity: 0;
}

#e-index .index-title .icon{
    position: relative;
    display: inline-block;
    top: 25px;
    width: 100px;
    height: 100px;
}

#e-index .index-title .icon .paper-icon{
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 25px;
    width: 50px;
    height: 60px;
    padding-top: 6px;

    font-size: 40px;
    text-align: center;

    -webkit-transform: rotateX(60deg) rotateZ(-45deg);
    transform: rotateX(60deg) rotateZ(-45deg);
    opacity: 1;

    transition-duration: 0.5s, 0.2s;
    transition-property: top, opacity;
}

#e-index .index-title .icon .paper-icon.fade{
    opacity: 0;
    top: -20px;
}

#e-index .index-title .icon .paper-icon:nth-child(2){
    z-index: 2;
    top: 25px;
}

#e-index .index-title .icon .paper-icon:nth-child(2).fade{
    top: -5px;
}

#e-index .index-title .icon .paper-icon:nth-child(3){
    z-index: 1;
    top: 40px;
}

#e-index .index-title .icon .paper-icon:nth-child(3).fade{
    top: 10px;
}

#e-index article{
    display: inline-block;
    position: relative;
    width: 500px;
    left: 50%;
    margin-left: -250px;

    text-align: center;
    color: rgb(51,51,51);
    font-size: 18px;
    border-top: 1px solid rgb(200,200,200);
    opacity: 1;
    transition-duration: 0.5s;
    transition-property: opacity;
}

#e-index article ul{
    text-align: left;
    margin-left: 40px;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
    font-size: 16px;
}

#e-index article ul i{
    position: relative;
    top: 7px;
    font-size: 30px;
    line-height: 30px;
}

#e-index article.fade{
    opacity: 0;
}

#e-index .index-buttons{
    position: relative;
    width: 600px;
    left: 50%;
    margin-left: -300px;
}

#e-index #github-button, #e-index #get-started-button{
    top: -1px;
}

#e-index #github-button i{
    display: inline-block;
    position: relative;
    top: -2px;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    background-image: url("../../../shared/images/github.jpg");
    vertical-align: top;
}

#e-index #github-button span{
    top: 0px;
}

#e-download-builder form{
    width: 100%;
    height: 100%;
    overflow: auto;
}

#e-download-builder .project-settings-wrapper{
    overflow: hidden;
    transition-duration: 0.2s;
    transition-property: height;
}

#e-download-builder .project-settings{
    margin-left: 58px;
    margin-right: 20px;
}

#e-download-builder .project-settings h4{
    margin: 10px;
}

#e-download-builder .project-settings .project-color {
    padding: 10px;
}

#e-download-builder .project-settings .project-color > div{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-property: box-shadow;
}

#e-download-builder .project-settings .project-color > div i {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 20px;
}

#e-download-builder .project-settings .project-color div:hover{
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px;
}

#e-download-builder .project-settings .project-color div.selected{
    box-shadow: rgba(0, 0, 0, 0.227451) 0px 3px 10px 0px, rgba(0, 0, 0, 0.156863) 0px 3px 10px 0px;
}

#e-download-builder form > h4{
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border-bottom: 1px solid rgb(150,150,150);
}.material-app{
    background-color: #F0F0F0;
}

#e-index .index-title{
    position: relative;
    left: 0;

    text-align: center;
    opacity: 1;
    transition-duration: 0.2s;
    transition-property: opacity;
}

#e-index .index-title.fade{
    opacity: 0;
}

#e-index .index-title h1{
    display: inline-block;
    position: relative;
    left: 0;
    margin-bottom: 10px;
    font-size: 54px;
    color: #333;
    transition-duration: 0.5s;
    transition-property: left;
}

#e-index .index-title.fade h1{
    left: 50px;
}

#e-index .index-title h2{
    margin-top: 0;
    color: rgb(51,51,51);
    opacity: 1;
    transition-duration: 0.5s;
    transition-property: opacity;
}

#e-index .index-title h2.fade{
    opacity: 0;
}

#e-index .index-title .icon{
    position: relative;
    display: inline-block;
    top: 25px;
    width: 100px;
    height: 100px;
}

#e-index .index-title .icon .paper-icon{
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 25px;
    width: 50px;
    height: 60px;
    padding-top: 6px;

    font-size: 40px;
    text-align: center;

    -webkit-transform: rotateX(60deg) rotateZ(-45deg);
    transform: rotateX(60deg) rotateZ(-45deg);
    opacity: 1;

    transition-duration: 0.5s, 0.2s;
    transition-property: top, opacity;
}

#e-index .index-title .icon .paper-icon.fade{
    opacity: 0;
    top: -20px;
}

#e-index .index-title .icon .paper-icon:nth-child(2){
    z-index: 2;
    top: 25px;
}

#e-index .index-title .icon .paper-icon:nth-child(2).fade{
    top: -5px;
}

#e-index .index-title .icon .paper-icon:nth-child(3){
    z-index: 1;
    top: 40px;
}

#e-index .index-title .icon .paper-icon:nth-child(3).fade{
    top: 10px;
}

#e-index article{
    display: inline-block;
    position: relative;
    width: 500px;
    left: 50%;
    margin-left: -250px;

    text-align: center;
    color: rgb(51,51,51);
    font-size: 18px;
    border-top: 1px solid rgb(200,200,200);
    opacity: 1;
    transition-duration: 0.5s;
    transition-property: opacity;
}

#e-index article ul{
    text-align: left;
    margin-left: 40px;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
    font-size: 16px;
}

#e-index article ul i{
    position: relative;
    top: 7px;
    font-size: 30px;
    line-height: 30px;
}

#e-index article.fade{
    opacity: 0;
}

#e-index .index-buttons{
    position: relative;
    width: 600px;
    left: 50%;
    margin-left: -300px;
}

#e-index #github-button, #e-index #get-started-button{
    top: -1px;
}

#e-index #github-button i{
    display: inline-block;
    position: relative;
    top: -2px;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    background-image: url("../../../shared/images/github.jpg");
    vertical-align: top;
}

#e-index #github-button span{
    top: 0px;
}

#e-download-builder form{
    width: 100%;
    height: 100%;
    overflow: auto;
}

#e-download-builder .project-settings-wrapper{
    overflow: hidden;
    transition-duration: 0.2s;
    transition-property: height;
}

#e-download-builder .project-settings{
    margin-left: 58px;
    margin-right: 20px;
}

#e-download-builder .project-settings h4{
    margin: 10px;
}

#e-download-builder .project-settings .project-color {
    padding: 10px;
}

#e-download-builder .project-settings .project-color > div{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-property: box-shadow;
}

#e-download-builder .project-settings .project-color > div i {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 20px;
}

#e-download-builder .project-settings .project-color div:hover{
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 6px 0px;
}

#e-download-builder .project-settings .project-color div.selected{
    box-shadow: rgba(0, 0, 0, 0.227451) 0px 3px 10px 0px, rgba(0, 0, 0, 0.156863) 0px 3px 10px 0px;
}

#e-download-builder form > h4{
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border-bottom: 1px solid rgb(150,150,150);
}