
*{
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.red {
    background-color: #F44336;
    color: white;
}

.pink {
    background-color: #E91E63;
    color: white;
}

.purple {
    background-color: #9C27B0;
    color: white;
}

.deep-purple {
    background-color: #673AB7;
    color: white;
}

.indigo {
    background-color: #3F51B5;
    color: white;
}

.blue {
    background-color: #2196F3;
    color: white;
}

.light-blue {
    background-color: #03A9F4;
    color: white;
}

.cyan{
    background-color: #00BCD4;
    color: white;
}

.teal{
    background-color: #009688;
    color: white;
}

.green{
    background-color: #4CAF50;
    color: white;
}

.light-green{
    background-color: #8BC34A;
    color: white;
}

.lime{
    background-color: #CDDC39;
    color: white;
}

.yellow{
    background-color: #FFEB3B;
    color: black;
}

.amber{
    color: black;
    background-color: #FFC107;
}

.orange{
    background-color: #FF9800;
    color: white;
}

.deep-orange{
    background-color: #FF5722;
    color: white;
}

.brown{
    background-color: #795548;
    color: white;
}

.gray{
    background-color: #9E9E9E;
    color: white;
}

.dark-gray{
    background-color: #333333;
    color: white;
}

.light-gray{
    background-color: #CCCCCC;
    color: black;
}

.blue-gray{
    background-color: #607D8B;
    color: white;
}

.black{
    background-color: black;
    color: white;
}

.white{
    background-color: white;
    color: black;
}

.fg-red{
    color: #F44336;
}

.fg-pink{
    color: #E91E63;
}

.fg-purple {
    color: #9C27B0;
}

.fg-deep-purple {
    color: #673AB7;
}

.fg-indigo {
    color: #3F51B5;
}

.fg-blue{
    color: #2196F3;
}

.fg-light-blue{
    color: #03A9F4;
}

.fg-cyan{
    color: #00BCD4;
}

.fg-teal{
    color: #009688;
}

.fg-green{
    color: #4CAF50;
}

.fg-light-green{
    color: #8BC34A;
}

.fg-lime{
    color: #CDDC39;
}

.fg-yellow{
    color: #FFEB3B;
}

.fg-amber{
    color: #FFC107;
}

.fg-orange{
    color: #FF9800;
}

.fg-deep-orange{
    color: #FF5722;
}

.fg-brown{
    color: #795548;
}

.fg-gray{
    color: #9E9E9E;
}

.fg-dark-gray{
    color: #333333;
}

.fg-light-gray{
    color: #CCCCCC;
}

.fg-blue-gray{
    color: #607D8B;
}

.fg-black{
    color: black;
}

.fg-white{
    color: white;
}

.theme-red .paper-loading svg circle{
    stroke: #F44336;
}

.theme-pink .paper-loading svg circle {
    stroke: #E91E63;
}

.theme-purple .paper-loading svg circle{
    stroke: #9C27B0;
}

.theme-deep-purple .paper-loading svg circle{
    stroke: #673AB7;
}

.theme-indigo .paper-loading svg circle{
    stroke: #3F51B5;
}

.theme-blue .paper-loading svg circle{
    stroke: #2196F3;
}

.theme-light-blue .paper-loading svg circle{
    stroke: #03A9F4;
}

.theme-cyan .paper-loading svg circle{
    stroke: #00BCD4;
}

.theme-teal .paper-loading svg circle{
    stroke: #009688;
}

.theme-green .paper-loading svg circle{
    stroke: #4CAF50;
}

.theme-light-green .paper-loading svg circle{
    stroke: #8BC34A;
}

.theme-lime .paper-loading svg circle{
    stroke: #CDDC39;
}

.theme-yellow .paper-loading svg circle{
    stroke: #FFEB3B;
}

.theme-amber .paper-loading svg circle{
    stroke: #FFC107;
}

.theme-orange .paper-loading svg circle{
    stroke: #FF9800;
}

.theme-deep-orange .paper-loading svg circle{
    stroke: #FF5722;
}

.theme-brown .paper-loading svg circle{
    stroke: #795548;
}

.theme-gray .paper-loading svg circle{
    stroke: #9E9E9E;
}

.theme-dark-gray .paper-loading svg circle{
    stroke: #333333;
}

.theme-light-gray .paper-loading svg circle{
    stroke: #CCCCCC;
}

.theme-blue-gray .paper-loading svg circle{
    stroke: #607D8B;
}

.theme-black .paper-loading svg circle{
    stroke: black;
}

.theme-white .paper-loading svg circle{
    stroke: white;
}

.paper-loading.fg-red svg circle{
    stroke: #F44336;
}

.paper-loading.fg-pink svg circle{
    stroke: #E91E63;
}

.paper-loading.fg-purple svg circle{
    stroke: #9C27B0;
}

.paper-loading.fg-deep-purple svg circle{
    stroke: #673AB7;
}

.paper-loading.fg-indigo svg circle{
    stroke: #3F51B5;
}

.paper-loading.fg-blue svg circle{
    stroke: #2196F3;
}

.paper-loading.fg-light-blue svg circle{
    stroke: #03A9F4;
}

.paper-loading.fg-cyan svg circle{
    stroke: #00BCD4;
}

.paper-loading.fg-teal svg circle{
    stroke: #009688;
}

.paper-loading.fg-green svg circle{
    stroke: #4CAF50;
}

.paper-loading.fg-light-green svg circle{
    stroke: #8BC34A;
}

.paper-loading.fg-lime svg circle{
    stroke: #CDDC39;
}

.paper-loading.fg-yellow svg circle{
    stroke: #FFEB3B;
}

.paper-loading.fg-amber svg circle{
    stroke: #FFC107;
}

.paper-loading.fg-orange svg circle{
    stroke: #FF9800;
}

.paper-loading.fg-deep-orange svg circle{
    stroke: #FF5722;
}

.paper-loading.fg-brown svg circle{
    stroke: #795548;
}

.paper-loading.fg-gray svg circle{
    stroke: #9E9E9E;
}

.paper-loading.fg-dark-gray svg circle{
    stroke: #333333;
}

.paper-loading.fg-light-gray svg circle{
    stroke: #CCCCCC;
}

.paper-loading.fg-blue-gray svg circle{
    stroke: #607D8B;
}

.paper-loading.fg-black svg circle{
    stroke: black;
}

.paper-loading.fg-white svg circle{
    stroke: white;
}